{% extends 'base.html.twig' %}

{% block title %} {{parent() }} - Accueil ! {% endblock %}

{% block body %}
<h1 class="text-center pt-5">Bienvenue sur mon Application de Gestion des Contacts</h1>

{% endblock %}
